img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

video {
    
    height: auto;
    margin: 0 auto;
}

.logo {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}