/* Collection 1 */
:root {
    /* Mode 1 */
    /* color */
    --blanc: #ffffff;
    --bleu-1: #049dd9;
    --bleu-foncé-1: #0477bf;
    --gris: #e9ebf2;
    --bleu-clair: #049dd9;
    --noir: #000000;


  /*Couleur frise */
  --couleur-frise: #38b6ff;
  --couleur-frise-2: #5ce1e6;
  --couleur-frise-3: #30e0ff;


  /*Taille du texte */

/* heading 4 */--txt-XXS : 0.875rem
/* link */ --txt-XS : 0.938rem
/* body 3.5 */ --txt-S : 0.938rem
/* body 3 */--txt-M :0.938rem
/* body 1.5 / 2 */--txt-L :1.25rem
/* body 1 */--txt-XL :1.25rem
/* heading 3 */--txt-XXL : 1rem
/*Fr/En */--txt-XXXL :1.5rem
/* heading 2 */--txt-XXXXL :1.563rem;
/*heading 1 */--txt-XXXXXL :2rem;



/* Typo*/
--font-quicksand: "Quicksand";
--font-opensans: "Open Sans";

  }
 