.footer {
    background-color: var(--bleu-clair);
    color: var(--blanc);
    padding-top: 10px;
    margin-top: 20px;
    position: relative;

}

.Prénom__nom {
    color: var(--blanc);
    font-family: var(--font-opensans);
    font-weight: normal;
    font-size: 1.25rem;
    margin-top: 20px;
    margin-left: 25px;
    text-decoration: none ;
    margin-bottom: 10px;
    

}

.footer__links {

    font-size: 1.25rem;
    list-style: none;
    line-height: 2.5;

}

.footer__link {
    color: var(--blanc);
    margin-top: 20px;
    margin-left: 25px;
    text-decoration: none;
}


.reseaux__logo {
    color: var(--blanc);

}

.projet__mmi {
    color: var(--blanc);
    font-size: 0.938rem;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 6px;
    width: 100%;
    

}

.reseaux__logo-mmi {
    height: auto;
    margin-left: 320px;
    margin-top: -10px;


    max-width: 100%;
}

.reseaux__logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top:00px;;
    gap: 80px;
    margin: 15px;


}

.reseaux {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.reseaux__lien-mmi {

    display: flex;
    align-items: right;
    justify-content: right;
    /*position: absolute;*/

    right: 10px;

    width: auto;
    height: auto;
}