.header {
    background-color: var(--bleu-clair);
    margin: 0;
    padding-top: 30px;
}



.header__logo-image {
    background-color: var(--gris);
    border-radius: 100%;
    display: flex;
    justify-content: left;
    margin-right: 280px;
    margin-top: -240px;

}
.header__menu{
    background-color: var(--bleu-clair);
}