.header {
    background-color: var(--bleu-clair);
    padding-top: 30px;
    margin: 0;
    padding-top: 30px;
    position: absolute;
    top: 0;
    width: 100%;
}



.header__logo-image {
    background-color: var(--gris);
    border-radius: 100%;
    display: flex;
    justify-content: left;
    margin-right: auto;
    margin-bottom: 270px;
    margin-left: 10px;

}

.header__menu {
    background-color: var(--bleu-clair);
}