.en {
    color: var(--blanc);
    font-family: var(--font-opensans);
    font-size: 1.5rem;
    display: flex;
    position: absolute;
    right: 85px;
    top: 13px;

}


.fr {
    color: var(--blanc);
    font-family: var(--font-opensans);
    font-size: 1.5rem;
    display: flex;
    position: absolute;
    right: 115px;
    top: 13px;

}

.header__titre {
    color: var(--blanc);
    font-family: var(--font-quicksand);
    font-size: var(2rem);
    font-weight: normal;
    display: flex;
    justify-content: center;
}
.intro{
    color: var(--noir);
    font-family: var(--font-opensans);
    font-size: 1.25rem;
  display: flex;
  justify-content: center;
  text-align: left;
  width: 370px;
  margin: 0px 10px;
    margin-top: 20px;
    margin-bottom: 30px;
   
}
.image__index{
    width: 323px;
height: 359px;
border-radius: 20px 20px 0px 0px;
margin: 0 32px;

}

.image__index-realisateur{
    width: 323px;
height: 448px;
border-radius: 20px 20px 0px 0px;
margin: 0 32px;

}

.image__index-film{
    width: 323px;
height: 448px;
border-radius: 20px 20px 0px 0px;
margin: 0 32px;

}
.image__index-livre{
    width: 323px;
height: 448px;
border-radius: 20px 20px 0px 0px;
margin: 0 32px;

}
.image__index-musique{
    width: 323px;
height:151.403px;
border-radius: 20px 20px 0px 0px;
margin: 0 32px;

}







.carte__article{
    background-color: var( --bleu-foncé-1);
    border-radius: 20px;
    margin-bottom: 50px;
    padding-top: 10px;
   
    

}
.titre__index{
    color: var(--blanc);
    font-family: var(--font-opensans);
    font-weight: normal;
    font-size: 1.25rem;
    display: flex;
    justify-content: left;
    margin: 0px 20px;
    margin-bottom: 20px; 
    margin-top: 20px;
    
}
.carte__texte{
    color: var(--blanc);
    font-family: var(--font-opensans);
    font-weight: normal;
    font-size:0.875rem ;
    margin: 0px 20px;
    width: 360px;
  
   
}
.carte__texte-musique{
    color: var(--blanc);
    font-family: var(--font-opensans);
    font-weight: normal;
    font-size:0.875rem ;
    margin: 0px 20px;
    width: 350px;
}

.button__lire-index{
    font-size: 0.938rem;
    color: var(--bleu-foncé-1);
    background-color:var(--blanc);
    border-radius: 11px;
    display: flex;
    width: 130px;
    height: 40px;
    padding: 20px 25px;
    align-items: center;
    gap: 10px;
    justify-content: center;
   
    margin: 0px 260px 

}
