.en {
    color: var(--blanc);
    font-family: var(--font-opensans);
    font-size: 1.5rem;
    display: flex;
    position: absolute;
    right: 85px;
    top: 25px;

}


.fr {
    color: var(--blanc);
    font-family: var(--font-opensans);
    font-size: 1.5rem;
    display: flex;
    position: absolute;
    right: 115px;
    top: 25px;

}

.hero__titre {
    color: var(--blanc);
    font-family: var(--font-quicksand);
    font-size: var(2rem);
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.intro {
    color: var(--noir);
    font-family: var(--font-opensans);
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    text-align: left;;
    margin: 0px 10px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.image__index {
    height: 359px;
    border-radius: 20px 20px 0px 0px;
    display: flex; /* Active le mode Flexbox */
    flex-direction: column; /* Aligne le texte et l'image verticalement */
    align-items: center; /* Centre le contenu horizontalement */
    text-align: center; /* Centre le texte */
    padding: 20px; /* Ajoute des marges internes */

}

.image__index-realisateur {
   
    height: 448px;
    border-radius: 20px 20px 0px 0px;
    margin: 0 32px;

}

.image__index-film {
 
    height: 448px;
    border-radius: 20px 20px 0px 0px;
    margin: 0 32px;

}

.image__index-livre {
   
    height: 448px;
    border-radius: 20px 20px 0px 0px;
    margin: 0 32px;

}

.image__index-musique {
   
    height: 151.403px;
    border-radius: 20px 20px 0px 0px;
    margin: 0 32px;

}







.carte__article {
    background-color: var(--bleu-foncé-1);
    border-radius: 20px;
    margin-bottom: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.titre__index {
    color: var(--blanc);
    font-family: var(--font-opensans);
    font-weight: normal;
    font-size: 1.25rem;

}

.carte__texte {
    color: var(--blanc);
    font-family: var(--font-opensans);
    font-weight: normal;
    font-size: 0.875rem;

}

.carte__texte-musique {
    color: var(--blanc);
    font-family: var(--font-opensans);
    font-weight: normal;
    font-size: 0.875rem;
    margin: 0px 20px;
   
}

.button__lire-index {
    font-size: 0.938rem;
    color: var(--bleu-foncé-1);
    background-color: var(--blanc);
    border-radius: 11px;
    padding: 20px 25px;
    align-self: flex-end;
}