.intro__page {
    color: var(--noir);
    font-family: var(--font-opensans);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: left;

    margin: 0px 15px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.titre__h2 {
    color: var(--noir);
    font-family: var(--font-opensans);
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    text-align: left;

    margin: 0px 15px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.texte__descriptif {
    color: var(--noir);
    font-family: var(--font-opensans);
    font-size: 0.938rem;
    display: flex;
    justify-content: center;
    text-align: left;

    margin: 0px 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.texte__descriptif-frise {
    color: var(--noir);
    font-family: var(--font-opensans);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: left;

    margin: 0px 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.image__ladouche {

    height: 359px;

    margin: 0 32px;

}

.legende {
    color: var(--noir);
    font-family: var(--font-opensans);
    font-size: 0.938rem;
    display: flex;
    justify-content: center;

    margin-top: 5px;
    margin-bottom: 30px;
}

.intertitre__page {
    color: var(--noir);
    font-family: var(--font-opensans);
    font-size: 0.938rem;
    display: flex;



    margin: 0px 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.button__musique {
    font-size: 0.938rem;
    color: var(--blanc);
    background-color: var(--bleu-clair);
    border-radius: 12px;
    display: flex;

    height: 40px;
    padding: 20px 25px;
    align-items: center;
    justify-content: center;
    margin: 0 auto
}

.trait__page {
    background-color: var(--bleu-clair);
    padding: 20px 0 20px 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* css frise*/

/*.frise{
    display: flex;
    flex-direction: column;
}

.texte__frise-1970 {
    align-items: left;
    margin-left: 2px;
    margin-top: -190px;

}

.image__frise-1970 {
    justify-content: right;
    align-items: right;
    margin-left: 190px;
}

.texte__frise-1980 {
    justify-content: right;
   align-items: right;
    margin-left: 190px;
    margin-top: -160px;
}

.image__frise-1980 {
    align-items: flex-end;
    align-items: right;
    margin-left: 10px;
    margin-top: 45px;
}

.image__frise-1990 {
    justify-content: right;
   align-items: right;
    margin-left: 190px;
    margin-top: 45px;
}

.texte__frise-1990 {
    justify-content: right;
    text-align: right;
    margin-right: 190px;
    margin-top: -210px;

}

.image__frise-2000 {
    justify-content: right;
    text-align: right;
    margin-left: 10px;
    margin-top: 45px;
}

.texte__frise-2000 {
    justify-content: right;
    align-items: flex-end;
    margin-left: 190px;
    margin-top: -170px;
}

.texte__frise-2010 {
    justify-content: right;
    text-align: right;
    margin-right: 190px;
    margin-top: -210px;
}

.image__frise-2010 {
    justify-content: right;
    text-align: right;
    margin-left: 190px;
    margin-top: 45px;
}

.texte__frise-2020 {
    justify-content: left;
    text-align: left;
    margin-left: 190px;
    margin-top: -120px;
}

.image__frise-2020 {
    justify-content: right;
    text-align: right;
    margin-left: 10px;
    margin-top: 45px;

}

.texte__frise-futur {
    justify-content: right;
    text-align: right;
    margin-right: 190px;
    margin-top: -210px;

}

.image__frise-futur {
    justify-content: right;
    text-align: right;
    margin-left: 190px;
    margin-top: 45px;
    margin-bottom: 20px;
}*/

.frise {
    display: flex;
    flex-direction: column;
}

.row__frise-droite {
    display: flex;
    padding-left: 2px;



}

.row__frise-gauche {
    display: flex;
    margin-right: 2px;
}

.row__texte-droite {
    padding-left: 20px;
    width: 184px;
    height: 208px;
    background-color: var(--couleur-frise);
    border-radius: 34px;
    margin: 8px;
}

.row__texte-gauche {
    padding-left: 20px;
    width: 184px;
    height: 208px;
    background-color: var(--couleur-frise-2);
    border-radius: 34px;
    margin: 8px;
}

/* .ligne {
    position: relative;
    height: 500px;
}

.ligne__vertical {
    position: absolute;
    width: 2px;
    background-color: var(--noir);
    top: 0;
    left: 50%;
}

.ligne__vertical::after {
    content: '';
    position: absolute;
    bottom: -10px; 
    left: -5px; 
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black; } */